#apDiv14 #apDiv26 p em {
	font-size: 24px;
}
#apDiv14 #apDiv26 p em {

}
#apDiv14 #apDiv26 p em {
	text-align: justify;
}
#apDiv14 #apDiv26 h2 u {










}
#apDiv14 #apDiv26 p em {
	text-align: center;
}
